<div class="bg-light pt-4 pb-4">
  <div class="container">
    <h1 class="display-6">My orders</h1>
    <h3 *ngIf="orders.length==0" class="text-danger">You currently have no orders</h3>
<div class="row mb-3" *ngFor="let order of orders">
  <div class="col-6 border p-5">
    <p>
      <span class="fw-bold">User: </span>
      {{ order.appUserName }}
    </p>
    <p><span class="fw-bold">Address: </span> {{ order.address }}</p>
    <p><span class="fw-bold">Phone number: </span> {{ order.phoneNumber }}</p>
    <p>
      <span class="fw-bold">Total price: </span>
      {{ order.shoppingCart.totalPrice }}MKD
    </p>
    <p><span class="fw-bold">Status: </span> {{ order.orderStatus }}</p>
  </div>
  <div class="col-6 border p-5">
    <p><span class="fw-bold">Products: </span></p>
    <p *ngFor="let cartItem of order.shoppingCart.cartItems">
      {{ cartItem.quantity }}x - {{ cartItem.food.name }} = {{ cartItem.quantity}} x {{cartItem.food.price}}MKD = {{ cartItem.subtotal }}MKD
    </p>
    <div *ngIf="order.orderStatus == 'Finished'">
      <button class="btn btn-primary" (click)="downloadInvoice(order.id)">Invoice</button>
  </div>
</div>
</div>
</div>