<div class="bg-light pt-4 pb-4">
  <div class="container">
    <button class="btn btn-primary mb-3" (click)="downloadOrdersReport()">
      Download orders report
    </button>
    <h1>New orders:</h1>
    <div *ngFor="let order of orders">
      <div class="row mb-3" *ngIf="order.orderStatus == 'Created'">
        <div class="col-6 border px-5 py-3">
          <p>
            <span class="fw-bold">User: </span>
            {{ order.appUserName }}
          </p>
          <p><span class="fw-bold">Address: </span> {{ order.address }}</p>
          <p>
            <span class="fw-bold">Phone number: </span> {{ order.phoneNumber }}
          </p>
          <p>
            <span class="fw-bold">Total price: </span>
            {{ order.shoppingCart.totalPrice }}MKD
          </p>
          <p><span class="fw-bold">Status: </span> {{ order.orderStatus }}</p>
        </div>
        <div class="col-6 border px-5 py-3">
          <p><span class="fw-bold">Products: </span></p>
          <p *ngFor="let cartItem of order.shoppingCart.cartItems">
            {{ cartItem.quantity }}x - {{ cartItem.food.name }} =
            {{ cartItem.quantity }} x {{ cartItem.food.price }}MKD =
            {{ cartItem.subtotal }}MKD
          </p>
          <button
            class="btn btn-primary"
            *ngIf="order.orderStatus == 'Created'"
            (click)="setOrderStatusToFinished(order.id)"
          >
            Finished
          </button>
        </div>
      </div>
    </div>
    <h1>Finished orders:</h1>
    <div *ngFor="let order of orders">
      <div class="row mb-3" *ngIf="order.orderStatus == 'Finished'">
        <div class="col-6 border px-5 py-3">
          <p>
            <span class="fw-bold">User: </span>
            {{ order.appUserName }}
          </p>
          <p><span class="fw-bold">Address: </span> {{ order.address }}</p>
          <p>
            <span class="fw-bold">Phone number: </span> {{ order.phoneNumber }}
          </p>
          <p>
            <span class="fw-bold">Total price: </span>
            {{ order.shoppingCart.totalPrice }}MKD
          </p>
          <p><span class="fw-bold">Status: </span> {{ order.orderStatus }}</p>
        </div>
        <div class="col-6 border px-5 py-3">
          <p><span class="fw-bold">Products: </span></p>
          <p *ngFor="let cartItem of order.shoppingCart.cartItems">
            {{ cartItem.quantity }}x - {{ cartItem.food.name }} =
            {{ cartItem.quantity }} x {{ cartItem.food.price }}MKD =
            {{ cartItem.subtotal }}MKD
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
