<div class="bg-light">
  <div class="container">
    <div class="row pt-4" style="height: 70%">
      <div class="col-5">
        <img class="img-fluid" src="" alt="Recipe image" />
      </div>
      <p class="col-7"></p>
      <h1 class="display-6">{{ food?.name }}</h1>
      <p>Total views: {{ food?.viewCount }}</p>
      <p>Average Rating: {{ food?.averageRating }}</p>
      <p>Calories: {{ food?.calories }}</p>
      <p>Description: {{ food?.description }}</p>
      <form #addToCartForm="ngForm" (ngSubmit)="addFoodToCart()" autocomplete="off">
        <div class="mb-md-5 mt-md-4">
          <div class="form-outline form-white mb-4">                 
            <label class="form-label" for="quantity">quantity</label><br /> 
            <input
              required
              type="number"
              min="1"
              class="form-control form-control-lg"
              name="quantity"
              [(ngModel)]="addToCart.quantity"
            />
          </div>
          <button class="btn btn-primary btn-lg px-5" type="submit" [disabled]="isFoodAddedToUserShoppingCart || addToCart.quantity < 1">
            Add to cart
          </button>
        </div>
      </form> 
      <!-- <h6 class="display-6">Ingredients</h6> -->
      <!-- <div *ngFor="let ing of food?.ingredientList">
            {{ ing.quantity }} {{ ing.measure }} {{ ing.name }}
          </div> -->
    </div>
  </div>
  <!-- <div class="row m-3">
            <div class="col-8 align-self-center">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" *ngFor="let c of recipe?.categoryList">
                        <a class="link-class text-dark" routerLink="/category/{{ c.name.toLocaleLowerCase() }}">{{
                            c.name }}</a>
                    </li>
                </ul>
            </div>
        </div> -->
</div>
